body{
    /* text-align: center; */
    background-color: cadetblue;

}

#headersection{
    padding: 10px;
}

#headersection h3{
    font-family: Arial, Helvetica, sans-serif;
}

input{
    padding: 10px;
    border-radius: 5px;
}

#dropbox{
     padding: 10px;
    border-radius: 5px;
    width: 15%;
}

#loginbtn{
      padding: 5px;
    border-radius: 5px;
    background-color: rgb(2, 31, 32);
    color: rgb(255, 245, 235);
    border-radius: 5px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}